<h1>Listing categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>             <%  Recipe.new([:params])
                           @recipes = Recipe.where('category_id = ?', "#{category.id}")
                           @recipes= select("recipe", "category_id", Category.find(:all).collect{ |c| [ c.name, c.id] })
                           Recipe.where(:category => category.id)
                           Recipe.find(params[:category.id])
                           Recipe.find_all_by_category(category)
                          Recipe.find(category)   ;
                           Recipe.find_by_category_id(category.id)
                           category.id.find(:all)
                           %>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
